.btn-create{
    width: 150px;
    margin-left: auto;
    margin-top: 20px;
}
.blog-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pagination{
    display: flex;
    justify-content: center;
    margin: auto;
}